<header
  id="navbar"
  class="fixed top-0 left-0 w-full z-50 flex justify-between items-center lg:px-20 px-2 py-8 transition-all duration-300"
>
  <nav
    class="nav bg-[var(--primary)] text-[var(--textContrast)] shadow-[var(--shadowBox)] w-auto px-10 py-4"
    style=" border-radius: 30px;"
  >
    <div
      class="inline-flex items-center space-x-4 tracking-widest font-cal-sans"
    >
      <a
        class="nav-item border-b-4 duration-300 lg:text-sm text-xs"
        href="/avr/"
      >
        hola!
      </a>
      <a
        class="nav-item border-b-4 duration-300 lg:text-sm text-xs"
        href="/avr/about"
      >
        sobre mí
      </a>
      <a
        class="nav-item border-b-4 duration-300 lg:text-sm text-xs"
        href="/avr/#mi-trabajo"
      >
        mi trabajo
      </a>
      <a
        class="nav-item border-b-4 duration-300 lg:text-sm text-xs"
        href="/avr/#hablemos"
      >
        hablemos
      </a>
    </div>
  </nav>
  <label class="switch ml-6">
    <input id="theme-toggle" type="checkbox" data-toggleTheme />
    <span class="slider"></span>
  </label>
</header>

<style>
  a {
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  a:focus,
  a:hover {
    color: var(--text);
  }

  a:focus:after,
  a:hover:after {
    width: 100%;
    left: 0%;
  }

  a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--text);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #edf2f2;
    transition: 0.4s;
    border-radius: 30px;
    box-shadow: var(--shadowBox);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #b491b6, #db324d 70%);
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #1c1b1d;
  }

  input:checked + .slider:before {
    left: calc(
      100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
    );
    background: #1c1b1d;
    box-shadow:
      inset -3px -2px 5px -2px #ff6600,
      inset -10px -4px 0 0 #e8fd00;
  }

  /* Estilo cuando se hace scroll */
  .slider.scroll-active {
    background-color: var(--background) !important;
  }
</style>

<script>
  const html = document.documentElement;
  const toggleButton = document.getElementById(
    "theme-toggle"
  ) as HTMLInputElement;

  // Cargar tema guardado
  const storedTheme = localStorage.getItem("theme");
  if (storedTheme === "dark") {
    html.classList.add("dark");
    toggleButton.checked = true;
  } else {
    html.classList.remove("dark");
    toggleButton.checked = false;
  }

  // Toggle theme al cambiar el switch
  toggleButton.addEventListener("change", () => {
    if (toggleButton.checked) {
      html.classList.add("dark");
      localStorage.setItem("theme", "dark");
    } else {
      html.classList.remove("dark");
      localStorage.setItem("theme", "light");
    }
  });

  // Cambiar el fondo del slider al hacer scroll
  const slider = document.querySelector(".slider");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 100) {
      // Cambiar el fondo del slider cuando se hace scroll
      slider?.classList.add("scroll-active");
    } else {
      // Restaurar el fondo del slider cuando no se hace scroll
      slider?.classList.remove("scroll-active");
    }
  });

  // Navbar al hacer scroll
  const navbar = document.getElementById("navbar");
  const nav = document.querySelectorAll(".nav");
  const navItems = document.querySelectorAll(".nav-item");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 100) {
      navbar?.classList.add(
        "bg-[var(--backgroundCards)]",
        "bg-opacity-80",
        "backdrop-blur",
        "py-4"
      );
      navbar?.classList.remove("py-8");

      nav.forEach((item) => {
        item.classList.remove(
          "bg-[var(--primary)]",
          "text-[var(--textContrast)]"
        );
        item.classList.add("bg-[var(--tertiary)]", "text-[var(--text)]");
      });
    } else {
      navbar?.classList.remove(
        "bg-[var(--backgroundCards)]",
        "bg-opacity-80",
        "backdrop-blur",
        "py-4"
      );
      navbar?.classList.add("py-8");
      nav.forEach((item) => {
        item.classList.remove("bg-[var(--tertiary)]", "text-[var(--text)]");
        item.classList.add("bg-[var(--primary)]", "text-[var(--textContrast)]");
      });
    }
  });
</script>
