---
import Chatbot from "../jsx/Chatbot.jsx"; // Asegúrate de ajustar la ruta
---

<ul class="w-full social-bar bg-[var(--background)]">
  <li class="icon-content">
    <a
      href="mailto:valdivieso.ant@gmail.com"
      aria-label="gmail"
      data-social="gmail"
      class="link bg-transparent"
    >
      <svg
        viewBox="0 0 32.00 32.00"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#000000"
        stroke-width="0.00032"
        transform="rotate(0)"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#CCCCCC"
          stroke-width="1.536"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M2 11.9556C2 8.47078 2 6.7284 2.67818 5.39739C3.27473 4.22661 4.22661 3.27473 5.39739 2.67818C6.7284 2 8.47078 2 11.9556 2H20.0444C23.5292 2 25.2716 2 26.6026 2.67818C27.7734 3.27473 28.7253 4.22661 29.3218 5.39739C30 6.7284 30 8.47078 30 11.9556V20.0444C30 23.5292 30 25.2716 29.3218 26.6026C28.7253 27.7734 27.7734 28.7253 26.6026 29.3218C25.2716 30 23.5292 30 20.0444 30H11.9556C8.47078 30 6.7284 30 5.39739 29.3218C4.22661 28.7253 3.27473 27.7734 2.67818 26.6026C2 25.2716 2 23.5292 2 20.0444V11.9556Z"
            fill="white"></path>
          <path
            d="M22.0515 8.52295L16.0644 13.1954L9.94043 8.52295V8.52421L9.94783 8.53053V15.0732L15.9954 19.8466L22.0515 15.2575V8.52295Z"
            fill="#EA4335"></path>
          <path
            d="M23.6231 7.38639L22.0508 8.52292V15.2575L26.9983 11.459V9.17074C26.9983 9.17074 26.3978 5.90258 23.6231 7.38639Z"
            fill="#FBBC05"></path>
          <path
            d="M22.0508 15.2575V23.9924H25.8428C25.8428 23.9924 26.9219 23.8813 26.9995 22.6513V11.459L22.0508 15.2575Z"
            fill="#34A853"></path>
          <path
            d="M9.94811 24.0001V15.0732L9.94043 15.0669L9.94811 24.0001Z"
            fill="#C5221F"></path>
          <path
            d="M9.94014 8.52404L8.37646 7.39382C5.60179 5.91001 5 9.17692 5 9.17692V11.4651L9.94014 15.0667V8.52404Z"
            fill="#C5221F"></path>
          <path
            d="M9.94043 8.52441V15.0671L9.94811 15.0734V8.53073L9.94043 8.52441Z"
            fill="#C5221F"></path>
          <path
            d="M5 11.4668V22.6591C5.07646 23.8904 6.15673 24.0003 6.15673 24.0003H9.94877L9.94014 15.0671L5 11.4668Z"
            fill="#4285F4"></path>
        </g></svg
      >
    </a>
    <div class="tooltip">Gmail</div>
  </li>
  <li class="icon-content">
    <a
      href="https://www.linkedin.com/in/antonia-valdivieso-r/"
      aria-label="linkedin"
      data-social="linkedin"
      class="link bg-transparent"
    >
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
          ><path
            fill="#0A66C2"
            d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"
          ></path></g
        ></svg
      >
    </a>
    <div class="tooltip">Linkedin</div>
  </li>
  <li class="icon-content">
    <a
      href="https://github.com/vxldivieso"
      aria-label="github"
      data-social="github"
      class="link bg-transparent"
      ><svg
        viewBox="0 -0.5 24 24"
        id="meteor-icon-kit__solid-github"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.2047 0.00001C6.56031 -0.005731 1.74628 4.08615 0.842541 9.6577C-0.061195 15.2293 3.2126 20.6331 8.56941 22.4118C9.14823 22.5177 9.35294 22.1577 9.35294 21.8541C9.35294 21.5506 9.35294 20.8588 9.35294 19.8988C6.14117 20.5977 5.46353 18.3529 5.46353 18.3529C5.25046 17.6572 4.79779 17.0595 4.18588 16.6659C3.14823 15.96 4.27059 15.96 4.27059 15.96C5.00761 16.0641 5.65578 16.5014 6.02823 17.1459C6.34368 17.7179 6.87393 18.1406 7.50179 18.3208C8.12965 18.5009 8.8034 18.4236 9.37411 18.1059C9.41842 17.5252 9.66876 16.9794 10.08 16.5671C7.5247 16.2777 4.84235 15.2894 4.84235 10.92C4.82481 9.7786 5.24688 8.67412 6.02117 7.8353C5.67632 6.84285 5.71662 5.7571 6.13412 4.79295C6.13412 4.79295 7.10117 4.48236 9.29647 5.97177C11.1816 5.45419 13.1713 5.45419 15.0565 5.97177C17.2518 4.48236 18.2118 4.79295 18.2118 4.79295C18.6351 5.74689 18.6854 6.82486 18.3529 7.81412C19.1272 8.65294 19.5493 9.7574 19.5318 10.8988C19.5318 15.3177 16.8424 16.2847 14.28 16.5459C14.8359 17.1047 15.1218 17.8774 15.0635 18.6635C15.0635 20.2024 15.0635 21.4447 15.0635 21.8188C15.0635 22.1929 15.2682 22.4824 15.8541 22.3694C21.1473 20.5447 24.3569 15.1728 23.4554 9.6469C22.5539 4.1211 17.8034 0.04779 12.2047 0.00001z"
            fill="#758CA3"></path></g
        ></svg
      >
    </a>
    <div class="tooltip">Github</div>
  </li>
  <li class="icon-content">
    <a id="chatbot-toggle-button" class="link bg-transparent cursor-pointer">
      <svg
        viewBox="0 0 48 48"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <title>Whatsapp-color</title>
          <desc>Created with Sketch.</desc>
          <defs> </defs>
          <g
            id="Icons"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="Color-"
              transform="translate(-700.000000, -360.000000)"
              fill="#67C15E"
            >
              <path
                d="M723.993033,360 C710.762252,360 700,370.765287 700,383.999801 C700,389.248451 701.692661,394.116025 704.570026,398.066947 L701.579605,406.983798 L710.804449,404.035539 C714.598605,406.546975 719.126434,408 724.006967,408 C737.237748,408 748,397.234315 748,384.000199 C748,370.765685 737.237748,360.000398 724.006967,360.000398 L723.993033,360.000398 L723.993033,360 Z M717.29285,372.190836 C716.827488,371.07628 716.474784,371.034071 715.769774,371.005401 C715.529728,370.991464 715.262214,370.977527 714.96564,370.977527 C714.04845,370.977527 713.089462,371.245514 712.511043,371.838033 C711.806033,372.557577 710.056843,374.23638 710.056843,377.679202 C710.056843,381.122023 712.567571,384.451756 712.905944,384.917648 C713.258648,385.382743 717.800808,392.55031 724.853297,395.471492 C730.368379,397.757149 732.00491,397.545307 733.260074,397.27732 C735.093658,396.882308 737.393002,395.527239 737.971421,393.891043 C738.54984,392.25405 738.54984,390.857171 738.380255,390.560912 C738.211068,390.264652 737.745308,390.095816 737.040298,389.742615 C736.335288,389.389811 732.90737,387.696673 732.25849,387.470894 C731.623543,387.231179 731.017259,387.315995 730.537963,387.99333 C729.860819,388.938653 729.198006,389.89831 728.661785,390.476494 C728.238619,390.928051 727.547144,390.984595 726.969123,390.744481 C726.193254,390.420348 724.021298,389.657798 721.340985,387.273388 C719.267356,385.42535 717.856938,383.125756 717.448104,382.434484 C717.038871,381.729275 717.405907,381.319529 717.729948,380.938852 C718.082653,380.501232 718.421026,380.191036 718.77373,379.781688 C719.126434,379.372738 719.323884,379.160897 719.549599,378.681068 C719.789645,378.215575 719.62006,377.735746 719.450874,377.382942 C719.281687,377.030139 717.871269,373.587317 717.29285,372.190836 Z"
                id="Whatsapp"
              >
              </path>
            </g>
          </g>
        </g></svg
      >
    </a>
    <div class="tooltip">Chatbot</div>
  </li>
  <!-- Botón para abrir el chatbot -->
</ul>

<div id="chatbot-container" style="display: none;">
  <Chatbot client:load />
</div>

<script type="module">
  const buttonChat = document.getElementById("chatbot-toggle-button");
  const chatbotContainer = document.getElementById("chatbot-container");

  // Inicializamos openChat como false (chat está oculto al principio)
  let openChat = false;

  buttonChat.addEventListener("click", () => {
    openChat = !openChat;
    // Cambiar el display del chatbot según el estado de openChat
    if (openChat) {
      chatbotContainer.style.display = "block"; // Mostrar el chatbot
    } else {
      chatbotContainer.style.display = "none"; // Ocultar el chatbot
    }
  });
</script>

<style>
  ul {
    list-style: none;
  }

  .social-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder; /* Made bolder */
    border-radius: 30px; /* Added border-radius to make the container rounded */
    padding: 20px; /* Added padding for better appearance */
    height: 70px;
  }

  .social-bar .icon-content {
    margin: 0 5px;
    position: relative;
    font-weight: bolder; /* Made bolder */
  }

  .social-bar .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    font-weight: bolder; /* Made bolder */
  }

  .social-bar .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }

  .social-bar .icon-content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--background); /* White icons */
    transition: all 0.3s ease-in-out;
    font-weight: bolder; /* Made bolder */
  }

  .social-bar .icon-content .link:hover {
    background-color: var(--background); /* White icons */
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }

  .social-bar .icon-content .link svg {
    width: 35px;
    height: 35px;
    fill: #fff; /* White icons */
  }
  #chatbot-container {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
    z-index: 1000; /* Asegúrate de que el chatbot esté sobre otros elementos */
    display: none; /* Por defecto, oculto */
  }
</style>
