<section
  id="home"
  class="inline-flex justify-center items-center w-full mt-60 mb-30 lg:px-30 px-2 lg:space-y-0 space-y-10"
>
  <div id="title" class="grid text-center w-full space-y-4">
    <h1 class="text-[var(--text)] text-7xl font-cal-sans tracking-wider">
      Soy Antonia<span class="text-[var(--accent)]">.</span>
    </h1>
    <p class="text-[var(--text)] text-lg font-cal-sans tracking-widest">
      Diseñadora y Desarrolladora web
    </p>

    <div class="pt-4">
      <button
        class="shadow-[var(--shadowBox)] bg-[var(--secondary)] text-[var(--textContrast)] font-cal-sans lowercase tracking-widest px-6 py-3 text-xs rounded-[30px] cursor-pointer"
      >
        <a href="/avr/about"> Sobre mí </a>
      </button>
    </div>
  </div>
</section>
